#registerBox{
    width: 1000px;
    height: 800px;
    border: 1px solid #000;
    margin: 50px auto;
    border: 10px double lightseagreen;
    border-radius: 10px;
    text-align: center;
}

#registerBox>h1{
    font-size: 48px;
    color: lightseagreen;
    margin-top: 50px;
}

#registerBox>.items{
    margin: 60px 0px;
}

#registerBox>.items span{
    color: lightseagreen;
    font-size: 28px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
}

#registerBox>.items input{
    width: 375px;
    height: 50px;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    vertical-align: top;
    margin-top: -5px;
    padding: 0 20px;
    box-sizing: border-box;
}

#registerBox>.items button{
    width: 150px;
    height: 60px;
    background-color: white;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 600;
    color: lightseagreen;
}