<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <th:block th:include="common.html :: source"></th:block>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

<ul th:each="map : ${mapList}">
    <li th:text="${'商品ID：'+map.get('product_id')}"></li>
    <li th:text="${'商品图片：'+map.get('product_image')}"></li>
    <li th:text="${'商品标题：'+map.get('product_title')}"></li>
    <li th:text="${'商品价格：'+map.get('product_price')}"></li>
    <li th:text="${'商品数量:'+map.get('product_quantity')}"></li>
</ul>

<th:block th:include="common.html :: footer"></th:block>

</body>
</html>