<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <th:block th:include="common.html :: source"></th:block>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

<div id="searchBox">

    <ul>
        <li>数码电子</li>
        <li>服饰箱包</li>
        <li>数码电子</li>
        <li>服饰箱包</li>
        <li>数码电子</li>
        <li>服饰箱包</li>
        <li>数码电子</li>
    </ul>

    <input />
    <button type="button">搜索</button>
</div>


<div id="infoBox">
    <div id="imageBox">

    </div>
    <div id="userBox">

    </div>
</div>

<div class="productBox">

    <h2>热门商品</h2>

    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

<div class="productBox">

    <h2>新品上架</h2>

    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

<div class="productBox">

    <h2>优惠促销</h2>

    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

<th:block th:include="common.html :: footer"></th:block>

</body>
</html>