<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <th:block th:include="common.html :: source"></th:block>
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

<ul th:each="product : ${productList}">
    <li th:text="${'商品ID：'+product.getProductId()}"></li>
    <li th:text="${'商品图片：'+product.getProductImage()}"></li>
    <li th:text="${'商品标题'+product.getProductTitle()}"></li>
    <li th:text="${'商品描述'+product.getProductDescription()}"></li>
    <li th:text="${'商品库存'+product.getProductInventory()}"></li>
    <li th:text="${'商品价格'+product.getProductPrice()}"></li>
    <a th:href="@{/product/info(product_id = ${product.getProductId()})}">立即购买</a>
</ul>

<th:block th:include="common.html :: footer"></th:block>

</body>
</html>