<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <th:block th:include="common.html :: source"></th:block>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<th:block th:include="common.html :: header"></th:block>

    <form action="/user/register" method="post">

        <div id="registerBox">

            <h1>注册</h1>

            <div class="items">
                <input type="text" name="nickname" placeholder="用户昵称">
            </div>

            <div class="items">
                <input type="text" name="email" placeholder="邮箱地址">
            </div>

            <div class="items">
                <input type="password" name="password" placeholder="登录密码">
            </div>

            <div class="items">
                <input type="password" id="confirmPassword" placeholder="确认密码">
            </div>

            <div class="items">
                <input type="number" name="phone" placeholder="手机号码">
            </div>

            <div class="items">
                <button type="submit">注册</button>
            </div>

        </div>

    </form>

<th:block th:include="common.html :: footer"></th:block>

</body>
</html>